<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key ="Mode" value ="Daily"/> <!--chạy service lặp lại mỗi ngày-->
    <add key ="IntervalMinutes" value ="1"/> <!--cho thời gian mỗi phút đúng bằng 1 phút chạy trên hệ thống-->
    <add key ="TimeStart" value ="13:03"/> <!--thời gian bắt đầu-->
    <add key ="TimeStop" value ="9:45"/> <!--thời gian sẽ tắt service nếu Mode là Start-stop-->
  </appSettings>
</configuration>